# Kopirati ovaj fajl u .env i popuniti vrednosti
# cp .env.example .env

# Baza podataka
DB_USERNAME=postgres
DB_PASSWORD=postgres123

# JWT tajni ključ (mora biti minimum 32 karaktera)
JWT_SECRET=4c7e91f2a8b54d1e9f3c6a7b8d2e5f109a3b6c8d1e4f7a9b2c5d8e1f4a7b0c3

# Email za notification-service (Gmail primer)
MAIL_USERNAME=ssekulic239@gmail.com
MAIL_PASSWORD=tzpy vlji fyue udhd

# GitHub korisničko ime
GITHUB_USERNAME=sonja434